<header>
  <img src="assets/img/menu.svg" alt="Menu" />
  <img src="assets/img/logo.svg" alt="Logo" />
</header>
<section>
  <ul class="side-bar-list">
    <li><img src="assets/img/icon.svg" alt="Icon" /> Home</li>
  </ul>
</section>
<footer>
  <button
    class="new-playlist"
    (click)="playlistService.isCreateNewOpen.set(true)"
  >
    <img src="assets/img/icon.svg" alt="Icon" /> New playlist
  </button>
  <div class="playlists-list" *ngIf="playlistService.userPlaylists()">
    <app-show-playlists
      [userAlbums]="playlistService.userPlaylists()!"
      (clickedOn)="clickedOn($event)"
    />
  </div>
</footer>
