.create-new-playlist {
  width: 640px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: end;
  width: 100%;
}

h2 {
  margin: 20px 0 40px 0;
  font-style: 20px;
  font-family: "Roboto";
  font-weight: 700;
}

app-default-input {
  width: 100%;
  margin-bottom: 20px;
}

.back {
  margin-right: 20px;
}
