<!-- <div class="left-part"> -->
<img
  *ngIf="img() !== null"
  width="48"
  height="48"
  [ngSrc]="img()!"
  class="track-img"
  alt=""
/>
<div class="track-data">
  <h2>{{ cutNames(data.name, 30) }}</h2>
  <h3>{{ cutNames(getNames(data.artists), 30) }}</h3>
</div>
<!-- </div> -->
<div class="control-menu">
  <div class="like-dislike">
    <img class="like" src="/assets/img/thumb_up.svg" alt="" />
    <img class="dislike" src="/assets/img/thumb_up.svg" alt="" />
  </div>
  <img
    src="/assets/img/more_vert.svg"
    class="more"
    alt=""
    (click)="
      moreContextService.openMenu(data, [$event.clientX, $event.clientY])
    "
  />
</div>
