:host {
  position: relative;
  display: block;
}

input {
  width: calc(100% - 5px);
  background: none;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: white;
  font-style: 16px;
  padding-left: 5px;
}

span {
  position: absolute;
  top: 0;
  left: 5px;
  transition: 0.3s;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
}

input:not(:placeholder-shown) + span {
  margin-top: -20px;
  font-size: 12px;
}

input:focus {
  outline: none;
}
