<div
  class="wrapper"
  *ngIf="player.curentTrack()"
  [ngStyle]="
    player.isQueueShow()
      ? {
          translate: '0 0'
        }
      : { translate: '0 100vh' }
  "
>
  <div class="left-side">
    <app-joind-image
      [images]="player.curentTrack()!.imgUrls"
      [resolution]="1000000"
    />
  </div>
  <div class="right-side">
    <app-dragble-list
      [list]="player.passedQueu()"
      (skipTo)="player.skipTo($event, 'passed')"
      (move)="player.moveInQueu($event, 'passed')"
    />
    <app-dragble-list
      [list]="player.queu()"
      (skipTo)="player.skipTo($event, 'next')"
      (move)="player.moveInQueu($event, 'next')"
    />
  </div>
</div>
