:host {
  position: absolute;
  position: absolute;
  top: 98px;
  right: 0;
  overflow: hidden;
  height: calc(calc(100% - 98px) - 72px);
  pointer-events: none;
}

.wrapper {
  width: calc(calc(100vw - 261px) - 128px);
  height: 100%;
  padding: 48px 64px 0 64px;
  display: flex;
  background: var(--background-color);
  transition: 0.5s;
}

app-joind-image {
  width: 50%;
  margin: 0 auto;
}

.left-side {
  width: 70%;
}

.right-side {
  width: 100%;
  color: white;
}

h3 {
  margin-bottom: 20px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
}

.queu h3 {
  margin-top: 10px;
}

app-song-item {
  border-bottom: 1px solid var(--border-color);
}
